body{
    width: 1920px;
    height: 1080px;
    border: 1px;
}

img{
    width: 20px;
    height: 30px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style: none;
}

li{
    color: aliceblue;
}

p{
    font-size: 18px;
}

div{
    background-color: #fff;
}